@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  background-color: #fea500;
  font-family: "Poppins", system-ui, sans-serif;
}

body {
  display: flex;
  flex-direction: column; /* stack the elements vertically */
  justify-content: center;
  align-items: center;
  height: 100vh; /* set the height to 100vh to center vertically */
}

#text-01{
  flex-direction: column;
  text-align: center;
  font-weight: bold;
}

.box {
  max-width: 500px;
  border-width: 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: azure;
  padding: 10px 7px 10px 7px;
  margin: 0 auto; /* center horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover{
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

#text-02{
  font-size: 1rem;
  font-style: italic;
  text-align: justify;
}